@font-face {
    font-family: undefined-medium;
    src: url(font/undefined-medium.woff);
}
*{
    margin: 0px;
    padding: 0px;
    --bg: #E7E7E7;
    
}
.bgImg_01{
    position: fixed;
    top: 0px;
    left: 0px;
}
.bgImg_02{
    position: fixed;
    top: 0px;
    right: 0px;
}
.bgImg_03{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.bgImg_04{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
body{
    height: 100dvh;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1, span {
    color: red;
    font-family: undefined-medium;
}
.board {
    margin-top: 1em;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    width: 507px;
    gap: 3px;

}
.gameContainer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.cell {
    background-color: var(--bg);
    width: 167px;
    height: 167px;
}

.reset {
    font-family: undefined-medium;
    font-size: 1.2em;
    background-color: #E7E7E7;
    color: red;
    padding: .5rem 1.5rem;
    border: 3px solid red;
    
}